<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DefaultDB" value="server=192.168.30.18;database=jbsdb;user id=dariaman;password=P@ssw0rd;default command timeout=90;" />-->
    <add key="AdminEmail" value="dariaman.siagian@jagadiri.co.id"/>
  </appSettings>
</configuration>